<header class="header">
  <nav class="navegacion">
    <div class="contenedor-texto-menu">

      <div class="menu-hamburguesa icon-menu activo" (click)="toggleMenu()"></div>
      <h1 class="titulo">
        <a
          class="titulo-enlace"
          [routerLink]="['/temporizador']" >
          TimeToTime
        </a>
      </h1>
    </div>

    <ul class="menu" *ngIf="anchoDePantalla > 650">
      <li class="menu-item"><a class="item-enlace icon-hour-glass" [routerLink]="['/temporizador']"  [routerLinkActive]="['activado']"></a></li>
      <li class="menu-item divisor"><a class="item-enlace icon-stopwatch" [routerLink]="['/cronometro']"  [routerLinkActive]="['activado']"></a></li>
      <li class="menu-item"><a class="item-enlace icon-cog" [routerLink]="['/configuracion']"  [routerLinkActive]="['activado']"></a></li>
    </ul>

    
    <div class="pantalla-negra" *ngIf="menuActivo" (click)="desactivarMenu()"></div>

    <div class="contenedor-menu-activo" *ngIf="menuActivo">
      <div class="contenedor-texto-menu">
      
        <div class="menu-hamburguesa icon-menu activo" (click)="toggleMenu()"></div>
        <h1 class="titulo">
          <a class="titulo-enlace" [routerLink]="['/temporizador']">
            TimeToTime
          </a>
        </h1>
      </div>
      <ul class="menu">
        <li class="menu-item" [routerLink]="['/temporizador']" (click)="desactivarMenu()">
          <a class="item-enlace icon-hour-glass"  [routerLink]="['/temporizador']"></a>Temporizador
        </li>
        <li class="menu-item divisor" [routerLink]="['/cronometro']" (click)="desactivarMenu()">
          <a class="item-enlace icon-stopwatch"  [routerLink]="['/cronometro']"></a>Cronometro
        </li>
        <li class="menu-item" [routerLink]="['/configuracion']" (click)="desactivarMenu()">
          <a class="item-enlace icon-cog" [routerLink]="['/configuracion']"></a>Configuracion
        </li>
      </ul>
    </div>
  </nav>
</header>