.navegacion{
  display: flex;
  height: 56px;
  background: #222222;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2D2D2D;
}
.navegacion .titulo .titulo-enlace{
  color: #fefefe;
  display: inline-block;
  font-family: 'Raleway';
  margin-left: 16px;
  text-decoration: none;
  font-size: 32px;
}
.navegacion .menu{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.navegacion .menu .menu-item{
}
.navegacion .menu .menu-item .item-enlace{
  text-decoration: none;
  margin-right: 16px;
  display: inline-block;
  font-size: 24px;
  color: #878787;
  border-radius: 50px;
}
.navegacion .menu .menu-item .item-enlace.activado{
  color: #fefefe;
  /*background: #1b191f;*/
}
/*
negro       1b191f
negro/gris  272930
gris        a8afb7
blanco      f4fdff
*/