<ul class="lista-tiempos">
  <li *ngFor="let tiempo of obj.listaDeTiempos; let indiceDeTiempo = index">
    <div class="contenedor-btn-texto">
      <button class="btn-agregar" (click)="agregarAlPrincipal(tiempo, obj)">{{ indiceDeTiempo + 1 }}</button>
      <p class="texto">
        <time>
          {{ tiempo.hora }}:{{ tiempo.minuto | conversorATiempo }}:{{ tiempo.segundo | conversorATiempo }}
        </time>
      </p>
    </div>
    <button class="btn-eliminar" (click)="eliminarTiempo(indiceDeTiempo, obj)">ELIMINAR</button>
  </li>
</ul>