<h1>Temporizador</h1>

<app-tiempo [tiempo]="tiempo"></app-tiempo>
<app-tiempo-botones [obj]="{ tiempo: tiempo,
														 listaDeTiempos: listaDeTiempos,
														 tiempoActivo: tiempoActivo,
														 nombre: nombre,
														 audioID: audioID,
														 intervalo: intervalo,
														 agregarActivo: agregarActivo,
														 nuevoTiempo: nuevoTiempo }"
										(iniciar)="iniciarTemporizador($event)"
										(agregar)="activarModal($event)"
										(reiniciar)="reiniciarValores($event)">
</app-tiempo-botones>

