/* You can add global styles to this file, and also import other style files */
body{
  max-height: 100vh;
  font-size: 32px;
  font-family: sans-serif;
  /* background: #00393b; */
  /* color: #fef7f4; */
  min-height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
audio{
  position: absolute;
  opacity: 0;
}
.contenedor{
  max-width: 700px;
  margin: 10px auto;
}

